/*
font-family: 'italic', cursive;
font-family: 'lato', cursive;
font-family: 'comforter brush', sans-serif;

*/
body{
/*background-color: red;*/
}

h1{
	font-family: 'italic', cursive;
	background-color: #ccffff;
}
.para1{
	font-family: 'lato', cursive;
}
.para2{
	font-family: 'comforter brush', sans-serif;
}

